<div class="button-group" role="radiogroup" [attr.aria-label]="label">
  <label>{{ label }}</label>
  <div class="radio">
    <input
      [attr.id]="id + '-yes'"
      type="radio"
      [attr.name]="id"
      [attr.checked]="value === options.YES"
      (change)="activate(options.YES)"
    />
    <label [attr.for]="id + '-yes'" class="button button-yes">Sim</label>
  </div>
  <div class="radio">
    <input
      [attr.id]="id + '-no'"
      type="radio"
      [attr.name]="id"
      [attr.checked]="value === options.NO"
      (change)="activate(options.NO)"
    />
    <label [attr.for]="id + '-no'" class="button button-no">Não</label>
  </div>
</div>

<!--
<div role="radiogroup" [attr.aria-labelledby]="id" class="button-group" appKm>
  <label [attr.id]="id" for="" class="label">{{ label }}</label>
  <button
    appKmItem
    (focused)="activate(options.YES)"
    role="radio"
    [attr.disabled]="disabled ? disabled : null"
    [attr.aria-checked]="value === options.YES"
    [attr.tabindex]="value === options.YES || value === null ? 0 : -1"
    type="button"
    class="button button-yes"
    (click)="activate(options.YES)"
    [class.button-pressed]="value === options.YES"
  >
    Sim
  </button>
  <button
    appKmItem
    (focused)="activate(options.NO)"
    role="radio"
    [attr.disabled]="disabled ? disabled : null"
    [attr.aria-checked]="value === options.NO"
    [attr.tabindex]="value === options.NO || value === null ? 0 : -1"
    type="button"
    class="button button-no"
    (click)="activate(options.NO)"
    [class.button-pressed]="value === options.NO"
  >
    Não
  </button>
</div> -->
