<div class="bg-white border" *ngIf="animal$ | async as animal">
  <div class="row">
    <div class="col-lg-8">
      <app-animal [url]="animal.url" [description]="animal.description">
      </app-animal>
    </div>
    <div class="col-lg-4">
      <small>
        <p class="text-left text-word">{{ animal.description }}</p>
        <i class="fa fa-heart-o fa-2x mr-2 pull-left" (click)="like()">{{ animal.likes }}</i>
        <i class="fa fa-comment-o fa-2x mr-2 ml-2">{{animal.comments}}</i>
        <i class="fa fa-trash-o fa-2x pull-right" (click)="delete()"></i>
      </small>
      <app-comments [id]="animal.id" *ngIf="animal.allowComments; else warning"></app-comments>
      <ng-template #warning>
        <p Usuário não pode comentar o animal></p>
      </ng-template>
    </div>
  </div>
</div>
